// Header
h2.site-name a
  float: left
  // background: url(/sites/all/themes/labs/images/logo-small.png) no-repeat
  width: 242px
  height: 129px
  text-indent: -999em

h1, h2, h3, h4, h5, h6
  color: #2885a0

.navigation #main-menu li a, #block-domain-nav-default .item-list ul li a
  color: #494949

.navigation #main-menu li a
  &.active, &:hover
    color: #e54a4a
