@import 'font/clumsy_regular.sass'
@import 'font/courier_10bt_roman.sass'
@import 'font/lietz_lindau_hamburg_regular.sass'
@import 'blueprint/grid'
@import 'compass'
@import 'multi_screen'

$cl_background: #d1d6ce
$cl_lake: #0062A0
$cl_normal: #494949
$cl_super_light_gray: #F8F6EA
$cl_light_gray: #979690
$cl_red: #e54a4a
$cl_fresh_water: #1d718f

$fz_tiny: 60%
$fz_small: 80%
$fz_normal: 100%
$fz_eye_friendly: 110%
$fz_large: 130%
$fz_title: 150%

$space_width: 15px

$blueprint-grid-outer-width: 40.40px
$blueprint-container-size: $blueprint-grid-outer-width * $blueprint-grid-columns - $blueprint-grid-margin

// Font
=clumsy_regular
  font-family: ClumsyRegular,serif
  text-decoration: none
  text-shadow: 0 1px 0 rgba(255,255,255,0.8)
  color: #494949

body
  background: url(/images/common/body-bg.jpg) repeat center top

  a, p
    font-size: 100%
    vertical-align: baseline
    line-height: 1.4em

  h1, h2, h3, h4, h5, h6, a
    +clumsy_regular
    // +link-colors(${1:normal}, ${2:hover}, ${3:active}, ${4:visited}, ${5:focus})
    +link-colors($cl_normal, $cl_lake, $cl_lake, $cl_normal, $cl_lake)

=center
  vertical-align: middle
  text-align: center


