@import 'default'

body
  background: url(/images/common/body-bg.jpg) repeat center top

  a, p
    font-size: 100%
    vertical-align: baseline
    line-height: 1.4em

  h1, h2, h3, h4, h5, h6, a
    +clumsy_regular
    // +link-colors(${1:normal}, ${2:hover}, ${3:active}, ${4:visited}, ${5:focus})
    +link-colors($cl_normal, $cl_lake, $cl_lake, $cl_normal, $cl_lake)

.outer_envelope
  +container
  padding-top: $space_width

  header
    margin-bottom: $space_width
    .inner_wrapper
      .inner.clearfix
        #logo
          #site_title
            font-size: 24px
            margin-bottom: $space_width
        nav#header_nav
          margin: auto
          padding-top: 8px
          ul.clearfix
            li
              +center
              +box-align(center)
              width: span(3)
              float: left
            li.last
              +last

  #main_contents
    .inner_wrapper
      .inner
        display: block
  footer
    #go_to_top
      p
        float: right
        a
          +clumsy_regular
          background: url(/images/common/sort-order-bg.png)
          border: 1px dashed #7D807C
          color: $cl_light_gray
          font-size: $fz_small
          padding: 0px 16px
          text-decoration: none
          text-shadow: 0 1px 0 white

    .inner_wrapper
      margin-top: $space_width
      background: url(/images/common/dashed-line.png) repeat-x bottom
      .inner
        padding-bottom: $space_width
        #footer_link.clearfix
          nav#footer_nav
            font-size: $fz_small
            li + li
              margin-top: $space_width

          nav#footer_social_link
            ul li
              a
                background-repeat: no-repeat
                height: 42px
                display: block
                text-indent: -999em
                background-position: right

              &.twitter
                a
                  background-image: url(/images/social/icon-twitter.png)

    #footer_mark
      text-align: center
      height: 2em
      margin: $space_width auto

      small
        +clumsy_regular
