<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} | RailsとRubyとVimのブログ{% else %}{{ site.single_title }}{% endif %}">
<meta name="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
<meta name="twitter:image" content="https://{{ site.url }}/images/meta/twitter.png">
<meta name="twitter:site" content="@{{ site.social.twitter.user }}">
<meta name="twitter:creator" content="@{{ site.social.twitter.user }}">
