<h1>プロフィール</h1>
<section>
  <figure class="image_wrapper">
    <img src="https://plus.google.com/s2/photos/profile/{{ site.social.google_plus.id }}?sz=100" alt="石井 浩之">
    <figcaption>石井 浩之</figcaption>
  </figure>

  <p>
    RailsやVim周りを中心に開発をしている、大学3回生のエンジニアです。<br/>
    過去に<a href="http://campus-inc.org/">Campus</a>や<a href="http://lang-8.com/">Lang-8</a>などでエンジニアをしていました。現在は、梅田にある経営コンサルタント会社にて起業家向けの教育サービスの構築をしています。
  </p>

  <p class="go_to_aboutme">
    <a href="/about-me">→詳しく見る</a>
  </p>
</section>
