
<section id="side_category_posts" class="sidebar_row">
  <div id="blog-archives" class="category">
    <h1>最新記事</h1>
    {% for post in site.posts limit: 2 %}
      <article>
        <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
        <h1><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>
      </article>
    {% endfor %}
  </div>
</section>
