<section id="side_sharing" class="sidebar_row">
  <div class="button hatena_bookmark_button">
    <a href="http://b.hatena.ne.jp/entry/{{ site.url }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ site.title }}" data-hatena-bookmark-layout="small" data-hatena-bookmark-lang="ja" title="このブログをはてなブックマークに追加">
      <img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このブログをはてなブックマークに追加" width="20" height="20" style="border: none;" />
    </a>
  <!-- </div> -->
</section>
