{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
  <body>
    <div id="header_top" class="outer_envelope clearfix">
      <header>{% include header.html %}</header>

      <div id="main_contents">
        <div class="inner_wrapper">
          <div class="inner">
            {{ content | expand_urls: root_url }}
          </div>
        </div>
      </div><!-- /div#main_contents -->

      <footer role="contentinfo">{% include footer.html %}</footer>
    </div>

    {% include post/load_sharing_js.html %}
  </body>
</html>
