{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
  <body>
    {% include post/load_sharing_js.html %}
    <div id="header_top" class="outer_envelope clearfix">
      <header>{% include header.html %}</header>

      <div id="main_contents" class="clearfix">
        <div class="inner_wrapper">
          <div class="inner">
            <div class="left_page inner_wrapper">
              <div id="page_contents" class="inner">
                {{ content | expand_urls: root_url }}
              </div>
            </div>

            <aside id="sidebar" class="right_page inner_wrapper">
              {% include sidebar.html %}
            </aside>
          </div>
        </div>
      </div><!-- /div#main_contents -->

      <footer role="contentinfo">{% include footer.html %}</footer>
    </div>
  </body>
</html>
