---
single: true
---

{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
  <body id="post_contents">
    <div id="header_top" class="outer_envelope">
      <header>{% include header.html %}</header>

      <div id="main_contents">
        <div class="inner_wrapper">
          <div class="inner">
            <div class="clearfix">
              <div class="left_page inner_wrapper">

                <article class="post_row">
                  <div class="inner">
                    <header class="field-items">
                      {% unless page.no_header %}
                        <h1>
                          {% if index %}
                            <a href="{{ root_url }}{{ post.url }}">
                              {% if site.titlecase %}
                                {{ post.title | titlecase }}
                              {% else %}
                                {{ post.title }}
                              {% endif %}
                            </a>
                          {% else %}
                            {% if site.titlecase %}
                              {{ page.title | titlecase }}{% else %}{{ page.title }}
                            {% endif %}
                          {% endif %}
                        </h1>
                      {% endunless %}
                    </header>

                    <section class="entry-content">{{ content }}</section>
                  </div>
                </article>

              </div>

              <aside id="sidebar" class="right_page inner_wrapper">
                <section id="side_about_me" class="sidebar_row">
                  <h1>プロフィール</h1>
                  <section>
                    <figure class="image_wrapper">
                      <img src="https://plus.google.com/s2/photos/profile/{{ site.social.google_plus.id }}?sz=100" alt="石井 浩之">
                      <figcaption>アルパカ隊長 - 石井 浩之</figcaption>
                    </figure>

                    <p>
                      RailsやVimを中心に開発をしている、アルパカ大好きエンジニアです。<br/>

                    </p>

                    <p class="go_to_aboutme">
                      <a href="/about_me">→詳しく見る</a>
                    </p>

                    <hr>

                    <ul style="padding-left:15px;">
                      <li style="list-style:circle;">立命館大学 経営学部3回生</li>
                      <li style="list-style:circle;">職業: Webサービスを通じて、価値を生み出す仕事</li>
                    </ul>
                  </section>
                </section>

                <section id="side_about_me" class="sidebar_row">
                  <h1>逆就活 - 資料DL</h1>

                  <section>
                    <p>
                      パスワードは、'alpaca_taichou'です
                    </p>

                    <p class="go_to_aboutme">
                      <a href="/images/blog/gyaku-syuukatsu-2/presen20140118.pdf">PDFの資料をDLする</a>
                    </p>
                  </section>
                </section>

                <section id="side_about_me" class="sidebar_row">
                  <h1>BOOTHの感想</h1>

                  <section>
                    <p>
                      必要な機能のみにしぼってある故に、短期間でBOOTH作り上げたのが凄いと思いました。<br/>
                      まだ、より重要なコードを書いていて、細かい部分を修正するフェーズじゃないと思いますが...。細かいところで、思った事を書いておきます！笑
                    </p>

                    <ul style="padding-left:15px;">
                      <li style="list-style:circle;">個人的にトップページのヘッダーが、ファストビュー抜けたら色が変わるアニメーションが(・∀・)スキ!<br/>
                        パクらせてもらいます...w
                      </li>
                      <li style="list-style:circle;">ショップのページで、商品の'次へ'を押すと、ページトップへ飛んで次の商品が見えなくなるのは悲しかったです。スクロールしなくとも、ファストビューに商品が表示れているとうれしいです。( ﾟ∀ﾟ)o彡ﾟ</li>
                      <li style="list-style:circle;">商品購入ページまでいったら、離脱率を減らすためにタイトルリンクは無くしてもいいんじゃないかなぁと思いました。やっぱり、売れた方がうれしいと思います。</li>
                    </ul>
                  </section>
                </section>

              </aside>

            </div>
          </div>
        </div>
      </div><!-- /div#main_contents -->

      <footer role="contentinfo">{% include footer.html %}</footer>

      <script type="text/javascript">
        window._pt_sp_2 = [];
        _pt_sp_2.push('setAccount,6c7c2232');
        _pt_sp_2.push('setDomain,http://alpaca.tc/pixiv');
        var _protocol = (("https:" == document.location.protocol) ? " https://" : " http://");

        (function() {
         var atag = document.createElement('script'); atag.type = 'text/javascript'; atag.async = true;
         atag.src = _protocol + 'js.ptengine.jp/pta.js';
         var stag = document.createElement('script'); stag.type = 'text/javascript'; stag.async = true;
         stag.src = _protocol + 'js.ptengine.jp/pts.js';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(atag, s);s.parentNode.insertBefore(stag, s);
         })();
       </script>
    </div>
  </body>
</html>

