---
single: true
---

{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
  <body id="post_contents">
    <div id="header_top" class="outer_envelope">
      <header>{% include header.html %}</header>

      <div id="main_contents">
        <div class="inner_wrapper">
          <div class="inner">
            <div class="clearfix">
              <div class="left_page inner_wrapper">

                <article class="post_row">
                  <div class="inner">
                    <header class="field-items">
                      {% unless page.no_header %}
                        <h1>
                          {% if index %}
                            <a href="{{ root_url }}{{ post.url }}">
                              {% if site.titlecase %}
                                {{ post.title | titlecase }}
                              {% else %}
                                {{ post.title }}
                              {% endif %}
                            </a>
                          {% else %}
                            {% if site.titlecase %}
                              {{ page.title | titlecase }}{% else %}{{ page.title }}
                            {% endif %}
                          {% endif %}
                        </h1>
                      {% endunless %}
                    </header>

                    <section class="entry-content">{{ content }}</section>
                  </div>
                </article>

              </div>

              <aside id="sidebar" class="right_page inner_wrapper">
                <section id="side_about_me" class="sidebar_row">
                  <h1>逆就活 - 資料DL</h1>

                  <section>
                    <p>
                      パスワードは、'alpaca_taichou'です
                    </p>

                    <p class="go_to_aboutme">
                      <a href="/images/blog/gyaku-syuukatsu-2/presen20140118.pdf">PDFの資料をDLする</a>
                    </p>
                  </section>
                </section>
              </aside>

            </div>
          </div>
        </div>
      </div><!-- /div#main_contents -->

      <footer role="contentinfo">{% include footer.html %}</footer>
    </div>
  </body>
</html>

