---
single: true
---

{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
  <body>
    {% include post/load_sharing_js.html %}
    <div id="header_top" class="outer_envelope">
      <header>{% include header.html %}</header>

      <div id="main_contents">
        <div class="inner_wrapper">
          <div xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb">
              <a href="/blog/{{ page.categories[0] }}" rel="v:url" property="v:title">
                {{ page.categories[0] }}
              </a> ›
            </span>
            <span typeof="v:Breadcrumb">
              <a href="." rel="v:url" property="v:title">
                {{ page.title }}
              </a>
            </span>
          </div>

          <div class="inner">
            <div class="clearfix">
              <div class="left_page inner_wrapper">
                {% include article.html %}
              </div>

              {% include sidebar.html %}
            </div>

            {% include post/pagination.html %}
          </div>
        </div>
      </div><!-- /div#main_contents -->

      <footer role="contentinfo">{% include footer.html %}</footer>
    </div>
  </body>
</html>

