---
single: true
---

{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
  <body id="post_contents">
    <div id="header_top" class="outer_envelope">
      <header>{% include header.html %}</header>

      <div id="main_contents">
        <div class="inner_wrapper">
          {% include post/breadcrumb.html %}

          <div class="inner">
            <div class="clearfix">
              <div class="left_page inner_wrapper">
                {% include article.html %}
                {% include post/pagination.html %}
              </div>

              {% include sidebar.html %}
            </div>
          </div>
        </div>
      </div><!-- /div#main_contents -->

      <footer role="contentinfo">{% include footer.html %}</footer>
    </div>
  </body>
</html>

