<script>
(function(w, d) {
  window.onload = function () {
    setTimeout(function() { load_javascript() }, 400);
  };

  function load_javascript() {
    var s, e = d.getElementsByTagName('script')[0],
    a = function(u, i) {
      if (!d.getElementById(i)) {
        s = d.createElement('script');
        s.src = u;
        if (i) {
          s.id = i;
        }
        e.parentNode.insertBefore(s, e);
      }
    };
    a('//platform.twitter.com/widgets.js', 'twitter-wjs');
    a('//connect.facebook.net/ja_JP/all.js#xfbml=1', 'facebook-jssdk');
    a('//{{ site.social.disqus.short_name }}.disqus.com/embed.js');
    a('https://apis.google.com/js/plusone.js');
  }
})(this, document);
</script>
