<script>
(function(w, d) {
  load_javascript();
  window.onload = function () {
    setTimeout(function() { lazy_load_javascript(); }, 100);
  };

  function insert_javascript(u, i) {
    var s, e = d.getElementsByTagName('script')[0];
    if (!d.getElementById(i)) {
      s = d.createElement('script');
      s.src = u;
      s.async = true
      if (i) {
        s.id = i;
      }
      e.parentNode.insertBefore(s, e);
    }
  };

  function lazy_load_javascript() {
    insert_javascript('//platform.twitter.com/widgets.js', 'twitter-wjs');
    insert_javascript('//connect.facebook.net/ja_JP/all.js#xfbml=1', 'facebook-jssdk');
    insert_javascript('//apis.google.com/js/plusone.js');
  }

  function load_javascript() {
    insert_javascript('//b.st-hatena.com/js/bookmark_button_wo_al.js');
    insert_javascript('//{{ site.social.disqus.short_name }}.disqus.com/embed.js');
  }
})(this, document);
</script>
