<script>
(function(w, d) {
  var s, e = d.getElementsByTagName("script")[0],
    a = function(u, i) {
      if (!d.getElementById(i)) {
        s = d.createElement("script");
        s.src = u;
        if (i) {
          s.id = i;
        }
        e.parentNode.insertBefore(s, e);
      }
    };
  a("https://apis.google.com/js/plusone.js");
  a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
  a("//platform.twitter.com/widgets.js", "twitter-wjs");
  a("//connect.facebook.net/ja_JP/all.js#xfbml=1", "facebook-jssdk");
  a("//{{ site.social.disqus.short_name }}.disqus.com/embed.js");
  a("//{{ site.social.disqus.short_name }}.disqus.com/count.js");
})(this, document);
</script>
