{% if post.url %}
  {% assign unique_url = post.url %}
{% else %}
  {% assign unique_url = page.url %}
{% endif %}
{% capture unique_url %}{{ site.url }}{{ unique_url }}{% endcapture %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} - RailsとRubyとVimのブログ{% else %}{{ site.single_title }}{% endif %}</title>
    {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
    <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta content='{% if page.title %}{{ page.title }} | RailsとRubyとVimのブログ{% else %}{{ site.single_title }}{% endif %}' name='title' />

    {% include meta/google.html %}
    {% include meta/og.html %}
    {% include meta/twitter.html %}

    <link rel="shortcut icon" href="/images/common/favicon.ico" type="image/x-icon">

    <script type="text/javascript">window._pt_lt = new Date().getTime();</script>

    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/stylesheets/compression.css" type="text/css" media="all"/>
    <meta name="google-site-verification" content="thSL3cUT7BV1-AENglRFIF-kv6I85JJ6_iUGAU8GaQI" />

    <!--[if lte IE 8]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- [todo] - あとで修正するよー -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {% include head/head.html %}
  </head>
  <div id="fb-root"></div>
