---
layout: default
---

<div id="index_contents" class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
    {% assign content = post.content %}
    <div class="blog-articles">
      {% include article.html %}
    </div>
  {% endfor %}

  <div class="pagination">
    {% if paginator.previous_page %}
      <a  data-label="前" class="paging_number prev" href="{{paginator.previous_page_path}}">&larr; 前の記事へ</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% capture current_class %}{% if paginator.page == page %}current{% else %}{% endif %}{% endcapture %}
      {% assign two_behind_page = paginator.page | minus: 2 %}
      {% assign two_ahead_page = paginator.page | plus: 2 %}
      {% if two_behind_page <= page and page <= two_ahead_page %}
        <a class="paging_number {{ current_class }}" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor%}

    {% if paginator.next_page %}
      <a data-label="次" class="paging_number next" href="{{paginator.next_page_path}}">次の記事へ &rarr;</a>
    {% endif %}
  </div>

  <script type="text/javascript" charset="utf-8">
    (function() {
      $(function() {
        var isSmartPhone = /android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase());
        if (isSmartPhone) {
          var $pagination = $('.pagination'),
          $prev = $pagination.find('.prev'),
          $next = $pagination.find('.next');
          $prev.text($prev.data('label'));
          $next.text($next.data('label'));
        }
      });
    })();
  </script>
</div>
